<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>created_at</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>