<div class="error-container">
  <div class="error-icon-container" aria-label="Left Align">
    <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
  </div>
  <h1>Something went terribly wrong!</h1>
</div>