<div class="error-container">
	<div class="error-icon-container" aria-label="Left Align">
	  <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
	</div>
	<h1>We could not find what you were looking for...</h1>
</div>