<div id="twitchplayer"></div>
<script type="text/javascript">
  var success = function(){
    var options = {
        width: 1280,
        height: 720,
        channel: "<%= value %>"
    };
    var player = new Twitch.Player("twitchplayer", options);
    player.setVolume(0.1);
    player.play();
    player.addEventListener('ended', function(){ window.nextPost() });
  }

  $.ajax({
    url: "https://player.twitch.tv/js/embed/v1.js",
    dataType: "script",
    success: success
  })
</script>