<div id="ytplayer"></div>
<script>
  var player;
  var mobile = '<%= mobile_css %>';
  var dev = <%= Rails.env.development? %>;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '720',
      width: '1280',
      videoId: '<%= value %>',
      playerVars: {
        start: '<%= start %>'
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    if (mobile !== 'mobile' && !dev && window.hasStorage() && localStorage.getItem("seen-info")) {
      event.target.playVideo();
      event.target.setVolume(10);
    }
  }

  function onPlayerStateChange(event) {
    if (event.target.getPlayerState() === 0){
      window.nextPost();
    }
  }
</script>