$field-margin: 12px;
$page-margin: 5%;
$sub-text-grey: #8899a6;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rooms";
@import "posts";
@import "errors";
@import "featherlight";
@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  color: #efefef;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), image-url("wood.jpg");
  width: 102%;
  height: 102%;

  overflow: hidden;
  margin: -10px -5px -5px -10px;
}

.btn {
  outline: none;
}

h1 { font-weight: normal; font-size: 3.0em; }
h2 { font-weight: normal; font-size: 2.1em; }
h3 { font-weight: normal; font-size: 1.5em; }
h4 { font-weight: normal; font-size: 1.2em; }
h5 { font-weight: normal; font-size: 1.0em; }
h6 { font-weight: normal; font-size: 0.9em; }

.btn {
  border-radius: 3px;
}

input, textarea { color: #0f0f0f; }

.alert {
  padding: 8px 15px 8px 15px;

  .glyphicon-remove {
    cursor: pointer;
  }
}

.page-header {
  margin: 0;
  width: 100%;
}

.login-notice {
  position: absolute;
  right: 0.8em;
  z-index: 9999;
}

.flash {
  &.alert-danger {
    background: rgba(239, 64, 54, 0.8);
    border: none;
  }

  &.alert-info {
    background: rgba(37, 170, 255, 0.8);
    border: none;
  }

  position: absolute;
  width: 100%;
  border-radius: 0;
  color: #ffffff;
  z-index: 99999;
}

.form-container {
  margin-left: 2.5%;

  .btn {
    margin-top: 8px;
  }

  textarea {
    width: 300px;
    height: 100px;
  }
}

.page-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  max-height: 6vh;
  border: none;

  &.mobile {
    max-height: 10vh;
  }

  .page-title {
    display: flex;
    align-items: flex-end;
  }

  .page-title-text {
    display: flex;
    padding-bottom: 4px;
    margin-left: 4px;
  }

  img {
    display: table-cell;
    max-height: 5.9vh;
    margin-left: 10px;
  }

  small {
    font-weight: 600;
    color: white;
    white-space: nowrap;
    font-size: 2.5vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

    @media screen and (max-width: 940px) {
      display: none;
    }

    &.lead {
      margin-right: 6px;
    }

    &.beta-red {
      color: #ff0016;
      font-weight: 100;
      margin-right: 25px;
    }
  }

  .total-users {
    color: #25aae1;

    @media screen and (max-width: 1140px) {
      display: none;
    }
  }

  .logout-link {
    color: #25aae1;
    margin-left: 20px;
    font-size: 16px;
  }
}

.mobile-notice {
  display: none;
  margin: 2px;
  padding: 4px 3px;
  font-size: 3.8vw;

  &.mobile {
    display: block;
  }

  .glyphicon-remove {
    top: 3px;
    float: right;
  }
}

.authentication-container {
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;

  &.mobile {
    display: none;
  }

  .auth-form-container {
    .btn {
      margin-right: 8px;
    }
  }

  .input {
    font-size: 15px;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .field {
      margin-right: 8px;
      margin-bottom: 0px;

      input {
        border-radius: 4px;
        height: 22px;
        width: 10vw;
      }
    }

    .new-post-field {
      input {
        width: 200px;
      }
    }
  }

  .btn {
    display: inline-block;
  }
}

.featherlight {
  .featherlight-close-icon.featherlight-close {
    border-radius: 4px;
  }

  .featherlight-content {
    padding-top: 0px;
    padding-left: 38px;
    padding-right: 28px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
  }
}

.escape-container {
  background: rgba(230, 230, 230, 0.6);
  border-radius: 4px;

  span {
    font-size: 11px;
  }
}

.escape-icon {
  background: rgba(230, 230, 230, 0.6);
  line-height: 1.4em;
  padding: 0px 3px 1px 3px;
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.new-post-button-and-container {
  margin-top: 10px;

  .btn-container {
    .btn {
      margin-bottom: 8px;
      display: block;
    }

    .new-post-button {
      @include gradient-horizontal(#337ab7, #5bc0de, 0%, 100%);
      border: none;

      &:hover {
        background-color: #286090;
        background-image: none;
      }
    }
  }

  .new-post-textarea textarea{
    width: 412px;
    height: 88px;
    border-radius: 4px;
    border-color: #ccc;
    margin-bottom: 8px;
  }

  .clear-button {
    margin-left: 8px;
  }
}

.footer-content {
  border-top: 1px solid #eeeeee;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 14px;

  .copyright {
    float: right;
  }
}

.bin-forms {
  display: flex;
  flex-wrap: wrap;

  .bin-form {
    padding: 0px 10px;
    border: 1px solid black;
  }

  select {
    width: 160px;
  }
}

.onoffswitch {
  position: relative; width: 45px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 18px; padding: 0; line-height: 18px;
  border: 2px solid #999999; border-radius: 18px;
  background-color: #EEEEEE;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 18px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 25px;
  border: 2px solid #999999; border-radius: 18px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #337AB7;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #337AB7;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

.field_with_errors {
  display: inline-block;
}

.new_user {
  .field {
    margin-bottom: 8px;
  }
}
