$field-margin: 12px;
$page-margin: 5%;
$sub-text-grey: #8899a6;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rooms";
@import "posts";
@import "errors";
@import "featherlight";
@import "font-awesome-sprockets";
@import "font-awesome";

td {
  padding: 2px;
}

@media screen and (max-device-width: 480px) {
  .page-header {
    width: 200%;
  }
}

html, body {
	height: 100%;
}

body {
	padding-bottom: 70px;
}

.alert {
	padding: 8px 15px 8px 15px;
}

.page-header {
	margin: 0;
	max-height: 88px;
}

.flash {
	&.alert-danger {
		@include gradient-horizontal(#f2dede, #FFFFFF, 0%, 100%);
		border: none;
	}

	&.alert-info {
		@include gradient-horizontal(#d9edf7, #FFFFFF, 0%, 100%);
		border: none;
	}

	margin: 26px 2.5% 0;
}

.form-container {
	margin-left: 2.5%;

	.btn {
		margin-top: 8px;
	}

	textarea {
		width: 300px;
		height: 100px;
	}
}

.page {
	margin-top: 20px;
	> div {
		height: 79vh;
	}
}

.page.page-container {
	margin-top: 18px;
}

.page-header{
	h1 {
		margin-top: 0px;
		padding-top: 20px;

		a {
			color: black;
			text-decoration: none;
		}
	}

	img {
		margin-top: 8px;
		max-height: 98px;
		background-color: rgba(255, 255, 255, 0.3);
	}

	.page-title {
		margin-left: 2.5%;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;

		small {
			font-weight: 600;
			// color: $sub-text-grey;
			color: black;
			text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
			margin-left: 10px;
		}
	}

	.total-users-container {
		float: right;
		margin-right: 44px;
		margin-top: -74px;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Raleway', sans-serif;
		color: darken(#5bc0de, 9.5%); //info

		.logout-link {
			margin-left: 20px;
			font-size: 16px;
		}
	}
}

.featherlight {
	.featherlight-close-icon.featherlight-close {
		border-radius: 4px;
	}

	.featherlight-content {
		padding-top: 0px;
		padding-left: 38px;
		padding-right: 28px;
		border-radius: 4px;
		background-color: rgba(0,0,0,0);
	}
}

.escape-container {
	background: rgba(230, 230, 230, 0.6);
	border-radius: 4px;
	span {
		font-size: 11px;
	}
}

.escape-icon {
	background: rgba(230, 230, 230, 0.6);
	line-height: 1.4em;
	padding: 0px 3px 1px 3px;
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.new-post-button-and-container {
	margin-top: 10px;

	.btn-container {
		.btn {
			margin-bottom: 8px;
			display: block;
		}

		.new-post-button {
			@include gradient-horizontal(#337ab7, #5bc0de, 0%, 100%);
			border: none;

			&:hover {
				background-color: #286090;
				background-image: none;
			}
		}
	}

	.new-post-textarea textarea{
		width: 412px;
		height: 88px;
		border-radius: 4px;
		border-color: #ccc;
		margin-bottom: 8px;
	}

	.clear-button {
		margin-left: 8px;
	}
}

.footer-content {
	border-top: 1px solid #eeeeee;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 14px;

	.copyright {
		float: right;
	}
}

.bin-forms {
	display: flex;
	flex-wrap: wrap;

	.bin-form {
		padding: 0px 10px;
		border: 1px solid black;
	}

	select {
		width: 160px;
	}

}
