$container-margin: 20px;

.red-glow {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 8px;
  margin-right: 16px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(244, 5, 5, 0.9), 0px 0px 10px 2px rgba(255, 0, 0, 0.98);
  animation: redpulse 1s alternate infinite;
}

@keyframes redpulse {
  0% {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0px 0px 10px 2px rgba(255, 5, 5, 0.9), 0px 0px 5px 2px rgba(255, 0, 0, 0.9);
  }
  100% {
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(244, 5, 5, 0.9), 0px 0px 15px 2px rgba(255, 0, 0, 1);
  }
}

.page-container {
  .btn-container {

    .btn {
      margin-bottom: 8px;
      display: block;
    }
  }

  .channel-panel {
    flex-grow: 10;
    height: auto;
    margin-bottom: 60px;

    .bins-container {
      margin: auto;
      margin-top: 20px;
      display: flex;
      justify-content: center;

      .bin-title {
        margin-top: 12px;
        margin-bottom: 0px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 390px;

        &.mobile {
          max-width: 100%;
        }
      }

      .post-title {
        margin-top: 8px;
        margin-bottom: 6px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 390px;
      }

      .bin-description {
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 390px;

        &.mobile {
          max-width: 100%;
        }
      }

      .bins {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .bin {
          padding: 0 20px 20px 20px;
        }

        .live-img {
          height: auto;
          max-width: 390px;
          &.mobile {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.authentication-container {
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.auth-form-container {
  .btn {
    margin-right: 8px;
  }
}

.auth-form-container,
.new-post-container {
  .input {
    font-size: 15px;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;

    .field {
      margin-right: 8px;
      margin-bottom: 8px;

      input {
        border-radius: 4px;
        height: 34px;
        width: 128px;

        &.mobile {
          height: 22px;
          width: 80px;
        }
      }
    }

    .new-post-field {
      input {
        width: 200px;
      }
    }
  }

  .btn {
    display: inline-block;
  }
}

.new-edit-post {
  margin-left: 20px;
}

.panel-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 5px 14px 5px;
  font-size: 16px;
}