.volume_bar {
  position: absolute;
  width: 5px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #12acef;
  border-radius: 4px;
}

video {
  border-radius: 4px;
}

.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.room-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.mobile {
    margin-top: 0px;
  }

  .content-panel {
    height: 59vh;
    width: 105vh;
    max-width: 100%;

    &.mobile {
      height: auto;
      width: 100%;
    }

    a.preview {
      max-width: 300px;
      word-break: break-all;
      margin-top: 8px;
    }

    .well {
      margin-top: 2px;
      margin-bottom: 2px;
      overflow-y: scroll;
      padding: 5px 10px 4px 10px;
      min-height: 40px;
    }

    .read-more {
      margin-top: 12px;
      max-height: 30px;

      span {
        padding-bottom: 12px;
      }
    }

    .embeded-content-container {
      height: 59vh;
      max-height: 59vh;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      align-items: center;
      overflow-y: scroll;
    }

    .embeded-content-wrapper.imgur {
      iframe {
        border: 0;
      }
    }
  }

  .guide-info-remote-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .guide-info {
      float: left;
      display: inline-block;

      .bin-controls-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
      }

      .bin-controls-container {
        display: flex;
        padding: 0.2em 0.1em 4px 0.1em;

        .bin-logo {
          width: 8.5em;
          height: 8.5em;

          &.mobile {
            width: 6.5em;
            height: 6.5em;
          }
        }

        .bin-post-container {
          display: flex;
          flex-direction: column;
          margin-left: 8px;
          overflow: hidden;
        }

        .bin-header-description {
          display: flex;
          flex-direction: column;

          .bin-description {
            &.mobile {
              font-size: 11px;
              max-height: 3em;
            }
          }
        }

        .bin-number-header {
          display: flex;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .bin-header {
          margin: 0px 8px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .bin-channel-number {
          margin: 0px;
          font-weight: bolder;
        }

        .bin-control-buttons {
          display: flex;
          align-items: center;

          .btn {
            -webkit-appearance: none;
            margin-left: 4px;
            display: block;
            padding: 6px 6px;
          }
        }
      }

      &.mobile {
        width: 100%;
      }

      .bin-header {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .post-header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .post-info-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 6px 0px;

        .post-header {
          margin: 0px 2px;
          padding-bottom: 2px;
        }
      }

      .post-controls-container {
        display: flex;
        justify-content: space-between;
        margin-left: 4px;

        .btn {
          -webkit-appearance: none;
          margin-left: 4px;
        }
      }

      .likes-header {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .like-count-container {
          margin: 0px 4px;
        }
      }

      .btn-container {
        padding: 2px 0px;
      }
    }

    .chat-panel-container {
      float:right;
      display: inline-block;

      &.mobile {
        display: none !important;
      }
    }

    .chat-panel {
      display: flex;
      justify-content: space-between;

      .chat-container {
        display: flex;
        justify-content: space-between;

        .remote-container {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px;
        }

        #remote {
          display: flex;
          justify-content: space-around;

          .no-user.well {
            margin-bottom: 0px;
            padding: 0px;
            width: 20vh;
            height: 15.06vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }

          .no-user .glyphicon {
            font-size: 11vh;
          }
        }

        button {
          border-color: white;
        }

        .local-video-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

        }

        .videoContainer {
          video {
            width: 20vh;
          }
        }

        .videoContainer {
          position: relative;
          margin: 0px 4px;

          .volume_bar {
            bottom: 5px;
          }
        }
      }

      .chat-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        min-width: 18em;

        .alert {
          margin-bottom: 2px;
          padding: 4px 8px 4px 8px;
          font-size: 1em;
        }

        .buttons {
          margin-bototm: 2px;
        }

        .video-chat-option, .invite-friends {
          display: flex;
          align-items: center;
          justify-content: space-around;

          .option-title {
            margin: 0px;
          }

          label {
            margin-bottom: 0px;
          }

          .btn, .switch-container, .info-helper {
            margin-left: 6px;
          }
        }
      }
    }
  }
}

.guide-wrapper {
  bottom: 0;

  .guide-container {
    td {
      margin: 0;
      white-space: nowrap;

      button {
        min-width: 100%;
        background-color: #11284a;
        border-color: #5e7088;
        color: #d1dded;

        border-style: solid;
        border-width: 1px;

        &.selected-show {
          background-color: #f8f69f;
          color: #11284a;
        }
      }
    }

    .guide-table {
      overflow-x: visible;
      max-height: 15vh;
    }

    #guide-contents {
      overflow-y: scroll;
      background-color: #c0c0c0;
      border-top-right-radius: 4px;
    }

    .channel-contents {
      overflow-y: hidden;
      float: left;
      border-top-left-radius: 4px;
    }

    .headcol {
      width: 5em;

      button {
        padding-left: 3px;
        background-color: #92b8dd;
        color: #11284a;
      }
    }
  }
}