$panel-margin: 0 12px 0 12px;
.volume_bar {
  position: absolute;
  width: 5px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #12acef;
  border-radius: 4px;
}

video {
  border-radius: 4px;
}

.display-none {
  display: none !important;
}

.buttons {
  .new-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    .btn {
      margin-bottom: 8px;
    }

    #new-conversation {
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.rating-description {
  width: 390px;

  p {
    margin-bottom: 4px;
  }
}

.rating {
  h4 {
    margin-bottom: 2px;
  }

  .submit-rating {
    margin-top: -4px;
    width: 124px;
  }

  label {
    font-weight: normal;
  }

  .rating-select-container {
    margin-top: -4px;
    margin-bottom: 12px;
    position: relative;

    select {
      background: white;
      color: black;
      padding: 5px;
      font-size: 16px;
      line-height: 1.2em;
      height: 34px;
      width: 124px;
      appearance: none;
    }
  }
}

.room-page {
  display: flex;
  align-items: stretch;

  .left-panel {
    margin: $panel-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    .post-header {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 800px;
    }

    a.preview {
      max-width: 300px;
      word-break: break-all;
      margin-top: 8px;
    }

    .well {
      margin-top: 10px;
      padding-bottom: 40px;
      margin-bottom: 12px;
      overflow-y: scroll;
    }

    .read-more {
      margin-top: 12px;
      max-height: 30px;
      span {
        padding-bottom: 12px;
      }
    }

    .posted-by-container {
      color: #555;
    }

    .post-content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 79vh;
      max-width: 100%;
    }

    .embeded-content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 12px;
      overflow-y: scroll;
      border-radius: 4px;
      align-items: center;
    }

    .embeded-content-wrapper.imgur {
      iframe {
        border: 0;
      }
    }

    .buttons-info-container {
      margin-top: 12px;
    }

    #next-post {
      float: right;
    }
  }

  .remote-panel {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    .no-user-local{
      position: relative;
      height: 100%;
    }

    .local-video-container {
      position: absolute;
      bottom: -4px;
      right: 0px;
      width: 24%;

      .videoContainer {
        width: 100%;

        video {
          max-width: 100% !important;
        }
      }
    }

    .no-user.well {
      margin-bottom: 0px;
    }

    .alert {
      margin-bottom: 14px;
    }

    .no-user .glyphicon {
      font-size: 34vw;
    }

    .remote-container {
      display: flex;
      align-items: stretch;
      margin-bottom: 20px;
      margin-right: 12px;
      margin-left: 12px;

      #remote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      button {
        border-color: white;
      }

      .videoContainer.remote {
        position: relative;

        .volume_bar {
          bottom: 5px;
        }

        video {
          margin-bottom: -4px;
          max-width: 100% !important;
        }
      }
    }
  }
}