$panel-grey: rgba(30, 30, 30, 0.8);

.volume_bar {
  position: absolute;
  width: 5px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #0088ff;
  border-radius: 4px;
}

video {
  border-radius: 4px;
}

.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.tooltip {
  z-index: 9000;
}

.room-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.mobile {
    margin-top: 0px;
  }

  .content-panel-reactions-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    position: relative;

    &.mobile {
      height: auto;
      width: 100%;
    }
  }

  .video-panel {
    height: 57vh;
    width: 99vh;

    max-width: 100%;
    background-color: $panel-grey;
    border-radius: 2px;

    position: absolute;
    top: 0px;
    z-index: 7000;

    .static {
      height: 57vh;
    }
  }

  .content-panel {
    height: 56vh;
    width: 93vh;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    max-width: 100%;
    position: relative;

    background-color: $panel-grey;
    border-radius: 2px;

    &:not(.mobile):before {
      content: "";
      position: fixed;
      z-index: -1;

      border-radius: 6px;

      display: block;
      background-image: image-url("old_tv_empty_screen_wide_taller_carved.png");
      background-size: cover;

      height: 64vh;
      width: 121vh;
      margin-top: -5vh;
      margin-left: -5vh;

      pointer-events: none;
      z-index: 8000;

      overflow: hidden;
      box-shadow: 3px 3px 10px #000;
    }

    .remote-control {
      content: 'hello';
      z-index: 8500;
      position: absolute;
      top: 0;
      right: -20.7vh;
      width: 16.6vh;
      height: 27vh;

      padding: 4px;
      background-color: $panel-grey;
      border-radius: 2px;

      .remote-control-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        button {
          background-color: transparent;
          border: none;
        }
      }
    }

    &.mobile {
      height: auto;
      width: 100%;
      margin: 0;
    }

    a.preview {
      max-width: 300px;
      word-break: break-all;
      margin-top: 8px;
    }

    .well {
      margin-top: 2px;
      margin-bottom: 2px;
      overflow-y: scroll;
      padding: 5px 10px 4px 10px;
      min-height: 40px;
    }

    .read-more {
      margin-top: 12px;
      max-height: 30px;

      span {
        padding-bottom: 12px;
      }
    }

    .embeded-content-container {
      height: 56vh;
      max-height: 56vh;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      align-items: center;
      overflow-y: scroll;
    }

    .gfycat-wrapper {
      position:relative;
      width: 93vh;
      height: 56vh;
    }

    .gfycat-iframe {
      position:absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
    }

    .embeded-content-wrapper.imgur {
      iframe {
        border: 0;
      }
    }
  }

  .reaction-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin: 4px;
    margin-left: 20vh;

    background-color: $panel-grey;
    border-radius: 2px;

    @media screen and (max-width: 1200px) {
      visibility: hidden;
      width: 0;
    }

    &.mobile {
      display: none !important;
    }
  }

  .reaction-panel {
    width: 22vw;

    #reaction-preview {
      width: 90%;
      transform: scaleX(-1);
    }

    .reaction-preview-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12px;
    }

    .glow-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .react-results-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .reaction-buttons-container{
        display: flex;
        justify-content: center;
        margin-top: 8px;

        .btn {
          margin-left: 8px;
        }
      }
    }

    h4, h2 {
      margin-top: 14px;
      text-align: center;
    }

    #react-button {
      width: 100%;
      @include gradient-horizontal(#E83D16, #FFD816, 0%, 100%);
      border: none;

      &:hover {
        background-color: #EF3E09;
        background-image: none;
      }
    }

    .reactions-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 50vh;
      overflow-y: scroll;

      .video-container {
        width: 90%;

        .reaction-video {
          width: 100%;
        }
      }
    }
  }

  .guide-info-remote-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .guide-info {
      float: left;
      display: inline-block;
      background-color: $panel-grey;
      border-radius: 2px;
      margin: 2px 4px 2px 0;

      .bin-controls-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
      }

      .bin-controls-container {
        display: flex;
        padding: 0.2em 0.1em 4px 4px;

        .bin-logo {
          width: 15vh;
          height: 15vh;

          &.mobile {
            width: 12vh;
            height: 12vh;
          }
        }

        .bin-post-container {
          display: flex;
          flex-direction: column;
          margin-left: 8px;
          overflow: hidden;
          padding-right: 4px;
        }

        .bin-header-description {
          display: flex;
          flex-direction: column;
          color: #e4e4e4;

          .bin-description {
            max-height: 3em;
            font-size: 0.9em;

            &.mobile {
              font-size: 11px;
            }
          }
        }

        .bin-number-header {
          display: flex;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .bin-header {
          margin: 0px 8px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .bin-channel-number {
          margin: 0px;
          font-weight: bolder;
        }

        .bin-control-buttons {
          display: flex;
          align-items: center;

          .btn {
            -webkit-appearance: none;
            margin-left: 4px;
            display: block;
            padding: 6px 6px;
          }
        }
      }

      &.mobile {
        width: 100%;
      }

      .bin-header {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .post-header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .post-info-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 6px 0px;

        .post-header {
          margin: 0px 2px;
          padding-bottom: 2px;
        }
      }

      .post-controls-container {
        display: flex;
        justify-content: space-between;
        margin-left: 4px;

        .btn {
          -webkit-appearance: none;
          margin-left: 4px;
        }
      }

      .likes-header {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .like-count-container {
          margin: 0px 4px;
        }
      }

      .btn-container {
        padding: 2px 0px;
      }
    }

    .chat-panel-container {
      float:right;
      display: inline-block;
      background-color: $panel-grey;
      border-radius: 2px;
      margin: 2px 0 2px 4px;

      &.mobile {
        display: none !important;
      }
    }

    .chat-panel {
      display: flex;
      justify-content: space-between;

      .chat-container {
        display: flex;
        justify-content: space-between;

        .social-stoplight-container {
          display: flex;
          padding: 2px;
          margin: 2px;

          .tooltip-inner {
            text-align: left;
            white-space: pre;
            max-width: none;
          }

          .stoplight-title {
            white-space: nowrap;
          }

          .stoplight, .stoplight-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 2px;
            padding: 0 2px;

            .stoplight-title {
              margin: 0px;
            }

            .stoplight-option {
              margin: 4px 2px;
              padding: 3px 4px;
              opacity : 0.3;
              cursor: pointer;
              border: 1px solid transparent;

              &.on, &:hover {
                opacity: 1;
                border-radius: 4px;
                border: 1px solid grey;
              }
            }
          }

          .stoplight-options {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3px;
            margin: 1px;
            justify-content: space-around;
          }

          .lights {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 3px;
            margin: 4px 2px 2px 2px;

            .light {
              height: 9px;
              width : 9px;
              margin: 12px;
              border-radius: 50%;
              opacity : 0.3; /* makes colors less bright by default */
              display: inline-block;
              cursor: pointer;

              &.on {
                opacity: 1;
              }
            }

            .solo {
              background-color: red;
              &.on {
                box-shadow: inset 0px 0px 10px 2px rgba(244, 5, 5, 0.9), 0px 0px 10px 2px rgba(255, 0, 0, 0.98);
              }
            }

            .friends {
              background-color: yellow;

              &.on {
                box-shadow: inset 0px 0px 10px 2px rgba(244, 244, 5, 0.9), 0px 0px 10px 2px rgba(255, 255, 0, 0.98);
              }
            }

            .party {
              background-color: green;
              &.on {
                box-shadow: inset 0px 0px 10px 2px rgba(5, 244, 5, 0.9), 0px 0px 10px 2px rgba(0, 255, 0, 0.98);
              }
            }
          }
        }

        .remote-container {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px;
        }

        #remote {
          display: flex;
          justify-content: space-around;

          .no-user.well {
            margin-bottom: 0px;
            padding: 0px;
            width: 20vh;
            height: 15.06vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }

          .no-user .glyphicon {
            font-size: 11vh;
            color: #1f1f1f;
          }
        }

        button {
          border-color: white;
        }

        .local-video-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .videoContainer {
          video {
            width: 20vh;
          }
        }

        .videoContainer {
          position: relative;
          margin: 0px 4px;

          .volume_bar {
            bottom: 5px;
          }
        }
      }

      .chat-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        min-width: 20em;

        .alert {
          margin-bottom: 2px;
          padding: 4px 8px 4px 8px;
          font-size: 1.0vw;
          background-color: #343434;
          border: none;
          color: #e4e4e4;
        }

        .buttons {
          margin-bototm: 2px;

          .btn-default {
            color: #333;

            &:hover {
              color: #333;
              background-color: #969696;
              border-color: #969696;
            }
          }
        }

        .invite-friends {
          display: flex;
          align-items: center;
          justify-content: space-around;

          .option-title {
            margin: 0px;
          }

          input {
            border-radius: 4px;
            height: 22px;
            width: 7vw;
            font-size: 0.9em;
          }

          .info-helper, input, .social-button {
            margin-left: 6px;
          }

          .btn-fb {
            background-color: #3b5998;
          }

          .bt-twitter {
            background-color: #1da1f2;
          }
        }
      }
    }
  }
}

.featherlight.info {
  background: rgba(70, 70, 70, 0.9);

  .featherlight-content {
    min-width: 60%;
    background-color: rgba(10, 10, 10, 0.95);
    border-radius: 2px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info-title {
      margin-bottom: 30px;
      font-family: 'Raleway', sans-serif;
    }
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .share-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .share-container, .camera-access-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 4px;
      margin: 2px;
    }

    .send-link, .send-fb, .post-twitter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 8px;

      .option-title {
        margin: 0px;
      }

      input {
        color: $panel-grey;
        border-radius: 2px;
        border: none;
        outline: none;
      }

      .btn, input, .fb-send, .twitter-share-button {
        margin-left: 12px;
      }
    }
  }

  #info-go-button {
    align-self: flex-end;
  }
}

.copy-button {
  width: 90px;
}

.guide-wrapper {
  bottom: 0;

  .guide-container {
    td {
      margin: 0;
      white-space: nowrap;

      button {
        min-width: 100%;
        background-color: #11284a;
        border-color: #5e7088;
        color: #f6fcfe;
        text-shadow: 2px 2px 0px black;

        border-style: solid;
        border-width: 1px;

        &.selected-show {
          background-color: #f8f69f;
          color: #11284a;
          text-shadow: inherit;
        }
      }
    }

    .guide-table {
      overflow-x: visible;
      max-height: 15vh;
    }

    #guide-contents {
      overflow-y: scroll;
      background-color: #c0c0c0;
      border-top-right-radius: 4px;
    }

    .channel-contents {
      overflow-y: hidden;
      float: left;
      border-top-left-radius: 4px;
    }

    .headcol {

      button {
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        background-color: #92b8dd;
        color: #11284a;
        font-weight: bolder;
        text-shadow: inherit;
      }
    }
  }
}