<p>Oops! <%= @resource.email %>, looks like you forgot your password for Chat Ben.</p></br>

<p><%= link_to 'Change Password', edit_password_url(@resource, reset_password_token: @token) %></p></br></br>

<p>Someone from Chat Ben has requested a link to change your password.</p>
<p>If you didn't request this, please ignore this email!</p></br>
<p>Your password won't change until you access the link above and create a new one.</p>
